<%= form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :emailid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emailid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :state_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :district_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :district_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :age, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qualification, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qualification, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :contact_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rural, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :rural, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :photo_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ngo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ngo_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_file_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_content_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_content_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :photo_file_size, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_updated_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :photo_updated_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
