<h1>Listing people</h1>
<script type="text/javascript" charset="utf-8">
  $(function(){
    //alert($("#people")).val();
    $("#people").electricSlide();
  })
</script>
<table>
  <tr>
    <th>Name</th>
    <th>My Photo</th>
    <th></th>
    <th></th>
  </tr>
  <div id="people">
    <% @people.each do |person| %>
      <tr>
        <td><%= fullname person.first_name, person.last_name %></td>
        <td><%= image_tag  person.photo.url if person.photo%></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </div>
</table>

<br />

<%= link_to 'New Person', new_person_path %>

