<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:emailid) %>:</strong></dt>
  <dd><%= @person.emailid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state_id) %>:</strong></dt>
  <dd><%= @person.state_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:district_id) %>:</strong></dt>
  <dd><%= @person.district_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @person.age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:qualification) %>:</strong></dt>
  <dd><%= @person.qualification %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_status) %>:</strong></dt>
  <dd><%= @person.job_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @person.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @person.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_number) %>:</strong></dt>
  <dd><%= @person.contact_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rural) %>:</strong></dt>
  <dd><%= @person.rural %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_id) %>:</strong></dt>
  <dd><%= @person.photo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @person.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @person.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ngo_id) %>:</strong></dt>
  <dd><%= @person.ngo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_name) %>:</strong></dt>
  <dd><%= @person.photo_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_content_type) %>:</strong></dt>
  <dd><%= @person.photo_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_size) %>:</strong></dt>
  <dd><%= @person.photo_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_updated_at) %>:</strong></dt>
  <dd><%= @person.photo_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @person.gender %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
