<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @person.first_name %>
  <b>LastName</b>
  <%= @person.last_name %>
  <b>Photo</b>
  <%= image_tag @person.photo.url if @person.photo %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
