<%= form_for(@image, :url => { :action => "create" },:html => { :multipart => true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ATTACHMENT_file_name %><br />
    <%= f.text_field :ATTACHMENT_file_name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :ATTACHMENT_file_size %>
  </div>
  <div class="field">
    <%= f.label :ATTACHMENT %><br />
    <%= f.file_field :ATTACHMENT %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
