<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.ATTACHMENT_file_name %>
</p>

<p>
  <b>Size:</b>
  <%= @image.ATTACHMENT_file_size %>
</p>

<p>
  <b>Attachment:</b>
  <%= link_to @image.ATTACHMENT_file_name, @image.ATTACHMENT.url %>
</p>
<p>
  <%= image_tag @image.ATTACHMENT.url %>


</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
